<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-bold" routerLink="/welcome" >
      <img src="https://img.icons8.com/color/96/000000/angularjs.png" width="50" alt="logo">
      <span class="text-uppercase">Angular Quiz</span>
    </a>
  </div>
</nav>
